body {
    background-color: beige;
    text-align: center;
}

form {
    background-color: white;
    width: 400px;
    margin: auto;
    border-style: solid;
}

input[type="text"] {
    width: 75px;
}